:root {
    --spanColor: #01a520;
    --shadow:
    calc(5px * -1)
    calc(5px * 0.75)
    calc(5px * 0.5)
    rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style:none
}
ol {
  margin: 0;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    font-family: 'Source Han Sans TC', "Microsoft JhengHei", arial, sans-serif;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline: none;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    /* height: 96px; */
    /* padding-left: calc(148 / 1920 * 100vw); */
    /* padding-right: calc(33 / 1920 * 100vw); */
    /* padding-bottom: calc(26 / 1920 * 100vw); */
    /* top: 0; */
    z-index: 3;
    background-color: #fff;
}
header .logo-wrap {
    display: flex;
    align-items: center;
    padding-top: calc(26 / 1920 * 100vw);
}
header .logo-wrap img {
    max-height: 44px;
    /* width: calc(278 / 1920 * 100vw); */
    /* height: 100%; */
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav {
    display: flex;
    transition: width 0.3s ease;
}
header nav ul li {
    font-size: calc(22 / 1920 * 100vw);
    color: #838383;
    cursor: pointer;
    font-weight: 700;
}
header nav ul a {
    text-decoration: none;
    border-top: 5px solid transparent;
    transition: color 0.3s ease, border-top 0.3s ease;
    padding: calc(0 / 1920 * 100vw) calc(24 / 1920 * 100vw);
    padding-top: calc(24 / 1920 * 100vw);
}
header nav ul a:last-child {
    padding-top: calc(24 / 1920 * 100vw);
    padding-right: calc(24 / 1920 * 100vw);
}
header nav ul a.current {
    border-top: 5px solid #4CCD2F;
    color: #3C3C3C;
}
header nav ul a:hover {
    border-top: 5px solid #4CCD2F;
    color: #3C3C3C;
}
header .burgerCircle {
    width: 14.8vw;
    position: absolute;
    height: 96px;
    top: 0;
    right: 0;
    z-index: 9999;
    display: none;
}
header .burger {
    width: 4.4vw;
    height: 4.4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
header .burger .line {
    width: 100%;
    height: 0.5vw;
    background-color: #8A8A8A;
    position: absolute;
    border-radius: 18px;
}
header .burger .line:first-child {
    top: 0;
    left: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: top 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
    -o-transition: top 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
    transition: top 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
}
header .burger .line:nth-child(2),
header .burger .line:nth-child(3) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s, -webkit-transform 0.35s;
}
header .burger .line:nth-child(4) {
    bottom: 0;
    left: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: bottom 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
    -o-transition: bottom 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
    transition: bottom 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
    opacity: 1;
}
header .burger.isclick .line:first-child,
header .burger.isclick .line:nth-child(4) {
    width: 0;
    opacity: 0;
    left: 50%;
}
header .burger.isclick .line:first-child {
    top: 50%;
}
header .burger.isclick .line:nth-child(4) {
    bottom: 50%;
}
header .burger.isclick .line:nth-child(2) {
    opacity: 1;
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
}
header .burger.isclick .line:nth-child(3) {
    opacity: 1;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}
header .mb {
    display: none;
}
main {
    position: relative;
    /* min-height: 100vh; */
}
.banner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-wrap .banner-content-wrap {
    /* position: absolute; */
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(58 / 1920 * 100vw);
    margin-bottom: calc(146 / 1920 * 100vw);
}
.banner-wrap .banner-content-wrap h1 {
    font-size: calc(75 / 1920 * 100vw);
    margin-top: calc(43 / 1920 * 100vw);
    font-weight: bold;
    line-height: 1;
}
.banner-wrap .banner-content-wrap h2 {
    font-size: calc(34 / 1920 * 100vw);
    margin-top: calc(56 / 1920 * 100vw);
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-weight: bold;
}
.banner-wrap .banner-content-wrap h2 br {
    display: none;
}
.banner-wrap .banner-content-wrap img {
    width: calc(408 / 1920 * 100vw);
}
.banner-wrap .banner-content-wrap button {
    margin-top: calc(37 / 1920 * 100vw);
    border-radius: 36px;
    border: none;
    background-color: var(--spanColor);
    padding: 17px 43px;
    cursor: pointer;
    font-size: calc(25 / 1920 * 100vw);
    padding: calc(17 / 1920 * 100vw) calc(43 / 1920 * 100vw);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-wrap .banner-bg img {
    width: 100%;
    background-size: 100% auto;
}
.about-us-wrap,
.advertising-resources-wrap,
.client-wrap,
.cases-wrap {
    max-width: 1606px;
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-wrap .title,
.advertising-resources-wrap .title,
.client-wrap .title,
.cases-wrap .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: calc(65 / 1920 * 100vw);
}
.about-us-wrap .title p,
.advertising-resources-wrap .title p,
.client-wrap .title p,
.cases-wrap .title p {
    font-weight: 700;
    font-size: calc(50 / 1920 * 100vw);
    color: #3C3C3C;
}
.about-us-wrap .title img {
    width: calc(363 / 1920 * 100vw);
}
.about-us-wrap .title span,
.advertising-resources-wrap .title span,
.client-wrap .title span,
.cases-wrap .title span {
    height: 5px;
    width: 100%;
    background-color: var(--spanColor);
    transform: skewX(45deg);
    box-shadow: var(--shadow);
    position: absolute;
    bottom: 0;
}
.about-us-wrap .main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.about-us-wrap .main .abou-us-content-wrap {
    margin-left: 46px;
    max-width: 533px;
}
.about-us-wrap .main .iframe-wrap {
    width: calc(100% - 533px);
    aspect-ratio: 16 / 9;
    position: relative;
}
.about-us-wrap .main #player {
    width:100%;
    height: 100%;
    /* display: none; */
    border-radius: 15px;
}
.about-us-wrap .main .iframe-wrap .thumbnail-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 15px;
}
.about-us-wrap .main .iframe-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    border-radius: 12px;
    color: white;
    font-size: 24px;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.about-us-wrap .main .abou-us-content-wrap h2 {
    font-size: calc(34 / 1920 * 100vw);
    margin-bottom: 10px;
    font-weight: bold;
}
.about-us-wrap .main .abou-us-content-wrap p {
    font-size: calc(27 / 1920 * 100vw);
    font-weight: bold;
    color: #3C3C3C;
}
.about-us-wrap .main .abou-us-content-wrap > div:not(:last-child) {
    margin-bottom: calc(46 / 1920 * 100vw);
}
.about-us-wrap .main .abou-us-content-wrap > div:nth-child(odd) h2 {
    color: var(--spanColor);
}
.about-us-wrap .main .abou-us-content-wrap > div:nth-child(even) h2 {
    color: #0078C8;
}
.advertising-resources-wrap {
    margin-top: calc(186 / 1920 * 100vw);
}
.advertising-resources-wrap .title {
    padding: 0 5px;
}
.advertising-resources-wrap .title p:first-child {
    color: #0078C8;
}
/* .advertising-resources-wrap .title span {
    box-shadow: none;
} */
.client-wrap .title p:nth-child(2),
.cases-wrap .title p:nth-child(2) {
    color: #00A623;
}
.client-wrap .title span,
.cases-wrap .title span {
    background-color: #0078C8;
}
.client-wrap .title {
    margin-bottom: 0;
}
.advertising-resources-wrap .main,
.cases-wrap .main {
    width: 100%;
}
.advertising-resources-main,
.swiper-wrapper {
    width: 100%;
}
.advertising-resources-main .img-wrap,
.cases-wrap .img-wrap {
    /* width: calc(100% - 672px); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.advertising-resources-main .img-wrap img,
.cases-wrap .img-wrap img {
    max-width: 100%;
}
.advertising-resources-main .advertising-content-wrap,
.cases-wrap .advertising-content-wrap {
    width: 717px;
    margin-left: calc(73 / 1920 * 100vw);
    font-weight: bold;
    color: #3C3C3C;
}
.advertising-resources-main .advertising-content-wrap .content-title-wrap,
.cases-wrap .advertising-content-wrap .content-title-wrap {
    font-size: calc(34 / 1920 * 100vw);
    margin-bottom: 24px;
}
.advertising-resources-main .advertising-content-wrap .content-wrap,
.cases-wrap .advertising-content-wrap .content-wrap {
    font-size: calc(27 / 1920 * 100vw);
    font-weight: 500;
}
.swiper-slide > div {
    display: flex;
    align-items: center;
}
.swiper-slide > div.section-1 span:first-child {
    color: #00A623;
}
.swiper-slide > div.section-1 span:last-child {
    color: #0078C8;
}
.swiper-slide .swiper-text p {
    font-weight: bold;
}
.advertising-swiper-ctrl,
.cases-swiper-ctrl {
    /* background-color: rgba(255, 255, 255, .9); */
    /* border-radius: 1.11111111vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 70%;
    z-index: 2;
    /* width: 10%; */
}
.advertising-swiper-ctrl img,
.cases-swiper-ctrl img {
    width: 22px;
    margin: 0 6px;
    cursor: pointer;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto !important;
}
.swiper-pagination {
    position: initial !important;
}
.advertising-swiper-ctrl .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet,
.cases-swiper-ctrl .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
    width: 13px;
    height: 13px;
    box-shadow: 0px 1px 2.8px rgba(0, 0, 0, 0.25);
    background: #C3C1C5;
    opacity:1;
}
.advertising-swiper-ctrl .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active,
.cases-swiper-ctrl .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #292929;
}
.client-wrap {
    margin-top: calc(204 / 1920 * 100vw);
    max-width: 100%;
    width: 100%;
}
.client-wrap .main picture img {
    width: 100%;
}
.client-wrap .main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(83 / 1920 * 100vw);
}
.client-wrap .logo-list-wrap {
    display: grid;
    gap: 10px;
}
.client-wrap .logo-list-wrap img {
    max-width: 100%;
    width: calc(154 / 1920 * 100vw);
    margin: 8.5px 8.5px 0 8.5px;
}
.cases-wrap {
    margin-top: calc(120 / 1920 * 100vw);
}
.cases-wrap .advertising-content-wrap .content-title-wrap {
    color: #000;
}

.contact-us-wrap {
    margin-top: calc(189 / 1920 * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    background: url(../images/contact-us-bg.png) no-repeat;
    background-size: 100% 100%;
    /* padding: calc(80 / 1920* 100vw) 0; */
    padding-top: 100px;
    padding-bottom: calc(44 / 1920* 100vw);
}
.contact-us-wrap > img {
    display: none;
}
.contact-us-main {
    /* position: absolute; */
    display: flex;
    padding-top: calc(80 / 1920 * 100vw);
}
.contact-us-main .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-us-main .title p {
    font-size: calc(50 / 1920 * 100vw);
    color: #fff;
    font-weight: bold;
    margin-top: 32px;
}
.contact-us-main .title img {
    width: calc(408 / 1920 * 100vw);
}
.contact-us-main .form > h3 {
    font-size: calc(24 / 1920 * 100vw);
    color: #fff;
    font-weight: bold;
}
.contact-us-main .form section {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: calc(27 / 1920 * 100vw);
}
.contact-us-main .form section label {
    font-size: calc(20 / 1920 * 100vw);
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.contact-us-main .form section label:not(:first-child) {
    margin-top: 15px;   
}
.contact-us-main .form section input {
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: calc(20 / 1920 * 100vw);
    border-radius: 0;
}
.contact-us-main .form {
    margin-left: calc(227 / 1920 * 100vw);
    width: calc(487 / 1920 * 100vw);
}
.contact-us-main .form section input:focus-visible,
.contact-us-main .form section textarea:focus-visible {
    outline: none;
}
.contact-us-main .form section textarea {
    resize: none;
    border-radius: 15px;
    border: 1px solid #D6D6D6;
    margin-top: calc(40 / 1920 * 100vw);
    font-size: calc(20 / 1920 * 100vw);
    padding: 10px;
}
.contact-us-main .form section textarea::placeholder {
    color: #979797;
}
.contact-us-main .form .btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.contact-us-main .form .btn-wrap button {
    font-size: calc(20 / 1920 * 100vw);
    border-radius: 37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 12px 35px;
    background-color: #2183C9;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /* header {
        height: 65px;
        padding-bottom: 0;
    } */
    header .burgerCircle {
        display: block !important;
        height: 65px;
    }
    header .logo-wrap {
        padding-top:0;
    }
    header nav {
        display: none;
    }
    header .logo-wrap img {
        width: calc(278 / 768 * 100vw);
    }
    .banner-wrap .banner-content-wrap {
        /* margin-top: calc(58 / 768* 100vw); */
        margin-bottom: calc(128 / 768* 100vw);
    }
    .banner-wrap .banner-content-wrap img {
        width: calc(408 / 768* 100vw);
    }
    .banner-wrap .banner-content-wrap h1 {
        font-size: calc(70 / 768* 100vw); 
    }
    .banner-wrap .banner-content-wrap h2 {
        font-size: calc(34 / 768* 100vw);
        text-align: center;
    }
    .banner-wrap .banner-content-wrap h2 span {
        display: none;
    }
    .banner-wrap .banner-content-wrap h2 br {
        display: block;
    }
    .about-us-wrap .title p,
    .advertising-resources-wrap .title p, 
    .client-wrap .title p, .cases-wrap .title p {
        font-size: 27px;
        /* font-size: calc(27 / 768 * 100vw); */
    }
    .about-us-wrap .title img {
        /* width: calc(196 / 768 * 100vw); */
        width: 196px;
    }
    .about-us-wrap .main {
        flex-direction: column;
    }
    .about-us-wrap .main .iframe-wrap {
        width: 100%;
        border-radius: 15px;
    }
    .about-us-wrap .main .abou-us-content-wrap {
        margin-left: 0;
        max-width: initial;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us-wrap .main .abou-us-content-wrap h2 {
        /* font-size: calc(24 / 768* 100vw); */
        font-size: 24px;
        text-align: center;
    }
    .about-us-wrap .main .abou-us-content-wrap p {
        font-size: 16px;
        /* font-size: calc(16 / 768* 100vw); */
        /* line-height: 1.2; */
    }
    .about-us-wrap .main .abou-us-content-wrap > div:not(:last-child) {
        margin-bottom: calc(31 / 768* 100vw);
    }
    .about-us-wrap .main .abou-us-content-wrap > div {
        width: 70%;
        text-align: center;
    }
    .advertising-resources-wrap {
        margin-top: calc(75 / 768* 100vw);
    }
    .swiper-slide > div {
        flex-direction: column;
    }
    .contact-us-main {
        flex-direction: column;
    }
    .about-us-wrap .title span, 
    .advertising-resources-wrap .title span, 
    .client-wrap .title span, 
    .cases-wrap .title span {
        height: 3.5px;
    }
    .advertising-resources-main .advertising-content-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80% !important;
        margin-top: calc(29 / 768* 100vw);
        margin-left: 0;
    }
    .advertising-resources-main .advertising-content-wrap .content-title-wrap{
        /* font-size: calc(23 / 768* 100vw); */
        font-size: 21px;
        margin-bottom: 52px;
        /* margin-bottom: calc(39 / 768* 100vw); */
        text-align: center;
    }
    .advertising-resources-main .advertising-content-wrap .content-wrap {
        font-size: 16px;
        /* font-size: calc(13 / 768* 100vw); */
        text-align: center;
    }
    .cases-wrap .advertising-content-wrap .content-title-wrap {
        font-size: 21px;
        /* font-size: calc(26 / 768* 100vw); */
        text-align: center;
        margin-bottom: 47px;
    }
    .client-wrap {
        margin-top: calc(96 / 768* 100vw);
    }
    /* .client-wrap .title {
        margin-bottom: calc(32 / 768* 100vw);
    } */
    .client-wrap .logo-list-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 80%;
    }
    .client-wrap .logo-list-wrap img {
        width: 60px;
        /* box-shadow: 0px 3px 24.4px 2px #B7CFDF; */
        /* border-radius: 25px; */
    }
    .cases-wrap .advertising-content-wrap .content-wrap {
        font-size: 16px;
        /* font-size: calc(13 / 768* 100vw); */
        text-align: center;
    }
    .advertising-swiper-ctrl, 
    .cases-swiper-ctrl {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 15px;
    }
    .advertising-resources-main, 
    .swiper-wrapper {
        margin-bottom: 15px;
    }
    .cases-wrap .advertising-content-wrap {
        width: 100%;
        margin-left: 0;
        margin-top: calc(31 / 768* 100vw);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cases-wrap .cases-main {
        margin-bottom: 15px;
    }
    .contact-us-wrap > picture img {
        /* max-width: 768px; */
    }
    .contact-us-wrap {
        /* background: url(../images/contact-us-m-bg.png) no-repeat; */
        background: none;
        background-color: #00A623;
        padding: 80px 0 80px 0;
        position: relative;
    }
    .contact-us-wrap > img {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 12%;
    }
    .contact-us-main .title img {
        width: calc(408 / 768* 100vw);
    }
    .contact-us-main .form {
        margin-left: 0;
        margin-top: 28px;
        width: 80%;
        /* padding: calc(35 / 768* 100vw) calc(30 / 768* 100vw);
        background: rgba(255, 255, 255, 0.85);
        border-radius: 31px; */
    }
    .contact-us-main .title p {
        margin-top: 3px;
        font-size: calc(50 / 768* 100vw);
    }
    .contact-us-main {
        width: 100%;
        align-items: center;
    }
    .contact-us-main .form > h3 {
        font-size: 19px;
        /* color: #8A8A8A; */
    }
    .contact-us-main .form section input {
        /* border: 1px solid #fff;
        border-radius: 38px;
        background-color: #fff;
        color: #8A8A8A; */
        font-size: 16px;
        /* padding: calc(20 / 768* 100vw); */
        /* box-shadow: 0px 2px 3px 4px rgba(183, 207, 223, 0.25); */
    }
    .contact-us-main .form .btn-wrap button {
        font-size: calc(18 / 768* 100vw);
    }
    .contact-us-main .form section textarea {
        color: #8A8A8A;
        font-size: 16px;
        border: none;
        box-shadow: 0px 2px 3px 4px rgba(183, 207, 223, 0.25);
        margin-top: calc(26 / 768* 100vw);
    }
    .contact-us-main .form section label:not(:first-child) {
        margin-top: calc(47 / 768* 100vw);
    }
    .contact-us-main .form section label {
        font-size:16px;
        /* color: #8A8A8A; */
    }
    .contact-us-main .form section {
        margin-top: calc(25 / 768* 100vw);
    }
    .nav-wrap.fixed {
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #0078C8;
        transition: 0.3s ease;
    }
    header nav ul {
        padding-top: 65px;
        flex-direction: column;
    }
    header nav ul li {
        font-size: calc(36 / 768* 100vw); 
        color: #fff;
    }
    header nav ul a {
        margin-bottom: 20px;
    }
}