:root {
    --spanColor: #01a520;
    --mainColor: #0078C8;
    --subColor: #01a520;
    --shadow:
    calc(5px * -1)
    calc(5px * 0.75)
    calc(5px * 0.5)
    rgba(0, 0, 0, 0.25);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style:none
}
ol {
  margin: 0;
}

html {
    /* overflow-x: hidden; */
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    /* overflow: scroll; */
    font-family: 'Source Han Sans TC', "Microsoft JhengHei", arial, sans-serif;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  outline: none;
}
main {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    /* min-height: 100vh; */
}
.banner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-wrap .banner-content-wrap {
    /* position: absolute; */
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(58 / 1920 * 100vw);
    margin-bottom: calc(146 / 1920 * 100vw);
}
.banner-wrap .banner-content-wrap h1 {
    font-size: calc(75 / 1920 * 100vw);
    margin-top: calc(43 / 1920 * 100vw);
    font-weight: bold;
    line-height: 1;
}
.banner-wrap .banner-content-wrap h2 {
    font-size: calc(34 / 1920 * 100vw);
    margin-top: calc(56 / 1920 * 100vw);
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-weight: bold;
}
.banner-wrap .banner-content-wrap h1,
.banner-wrap .banner-content-wrap h2 {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.banner-wrap .banner-content-wrap h1.activity,
.banner-wrap .banner-content-wrap h2.activity {
  opacity: 1;
  transform: translateX(0);
}
.banner-wrap .banner-content-wrap h2 br,
.about-us-wrap .main .abou-us-content-wrap p br {
    display: none;
}
.banner-wrap .banner-content-wrap img {
    width: calc(408 / 1920 * 100vw);
}
.banner-wrap .banner-content-wrap button {
    margin-top: calc(37 / 1920 * 100vw);
    border-radius: 36px;
    border: none;
    background-color: var(--spanColor);
    padding: 17px 43px;
    cursor: pointer;
    font-size: calc(25 / 1920 * 100vw);
    padding: calc(17 / 1920 * 100vw) calc(43 / 1920 * 100vw);
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-wrap .banner-bg {
    width: 100%;
}
.banner-wrap .banner-bg img {
    width: 100%;
    background-size: 100% auto;
}
.about-us-wrap,
.advertising-resources-wrap,
.cases-wrap {
    max-width: 1606px;
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-wrap .title,
.advertising-resources-wrap .title,
.cases-wrap .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: calc(65 / 1920 * 100vw);
}
.about-us-wrap .title h2,
.advertising-resources-wrap .title h2:not([class]),
.cases-wrap .title h2:not([class]) {
    color: #3C3C3C;
}
.about-us-wrap .title h2,
.advertising-resources-wrap .title h2,
.cases-wrap .title h2 {
    font-weight: 700;
    font-size: calc(50 / 1920 * 100vw);
}
.about-us-wrap .title img {
    width: calc(363 / 1920 * 100vw);
}
.about-us-wrap .title span,
.advertising-resources-wrap .title span,
.cases-wrap .title span {
    height: 5px;
    width: 100%;
    background-color: var(--spanColor);
    transform: skewX(45deg);
    /* box-shadow: var(--shadow); */
    position: absolute;
    bottom: 0;
}
.about-us-wrap .main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.about-us-wrap .main .abou-us-content-wrap {
    margin-left: 46px;
    max-width: 533px;
    width: 60%;
}
.about-us-wrap .main .iframe-wrap {
    /* width: calc(100% - 533px); */
    max-width: 1027px;
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}
.about-us-wrap .main #player {
    width:100%;
    height: 100%;
    /* display: none; */
    border-radius: 15px;
}
.main #player_2 {
    width:100%;
    height: 100%;
    /* display: none; */
    border-radius: 15px;
}
.about-us-wrap .main .iframe-wrap .thumbnail-overlay,
.cases-wrap .main .iframe-wrap .thumbnail-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 15px;
}
.about-us-wrap .main .iframe-wrap img,
.cases-wrap .main .iframe-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}
.play-button-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    border-radius: 12px;
    color: white;
    font-size: 24px;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.about-us-wrap .main .abou-us-content-wrap h3 {
    font-size: calc(34 / 1920 * 100vw);
    margin-bottom: 10px;
    font-weight: bold;
}
.about-us-wrap .main .abou-us-content-wrap p {
    font-size: calc(27 / 1920 * 100vw);
    font-weight: bold;
    color: #3C3C3C;
}
.about-us-wrap .main .abou-us-content-wrap > div:not(:last-child) {
    margin-bottom: calc(46 / 1920 * 100vw);
}
.advertising-resources-wrap {
    margin-top: calc(186 / 1920 * 100vw);
}
.advertising-resources-wrap .title {
    padding: 0 5px;
}
/* .advertising-resources-wrap .title span {
    box-shadow: none;
} */
.cases-wrap .title span {
    background-color: #0078C8;
}
.advertising-resources-wrap .main,
.cases-wrap .main {
    width: 100%;
}
.cases-wrap .main { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.cases-wrap .main .cases-main {
    width: 100%;
}
.cases-wrap .main .cases-main .swiper-slide {
    width: 100% !important;
}
.advertising-resources-main,
.swiper-wrapper {
    width: 100%;
}
.advertising-resources-main .img-wrap,
.cases-wrap .img-wrap {
    /* width: calc(100% - 575px); */
    width: 100%;
    max-width: 904px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cases-wrap .img-wrap {
    /* width: calc(100% - 600px); */
    max-width: 1027px;
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}
.cases-wrap .img-wrap .iframe-wrap {
    width: 100%;
    height: 100%;
}
.advertising-resources-main .img-wrap img,
.cases-wrap .img-wrap img {
    max-width: 100%;
    border-radius: 15px;
}
.advertising-resources-main .advertising-content-wrap {
    /* width: 717px; */
    width: 619px;
    /* flex: 1; */
    margin-left: calc(73 / 1920 * 100vw);
    font-weight: bold;
    color: #3C3C3C;
}
.cases-wrap .advertising-content-wrap {
    /* min-width: 600px; */
    max-width: 533px;
    margin-left: 46px;
    width: 60%;
}
.advertising-resources-main .advertising-content-wrap .content-title-wrap,
.cases-wrap .advertising-content-wrap .content-title-wrap {
    font-size: calc(34 / 1920 * 100vw);
    margin-bottom: 24px;
}
.advertising-resources-main .advertising-content-wrap .content-wrap,
.cases-wrap .advertising-content-wrap .content-wrap {
    font-size: calc(27 / 1920 * 100vw);
    font-weight: 500;
}
.swiper-slide > div {
    display: flex;
    align-items: center;
}
.swiper-slide .swiper-text p {
    font-weight: bold;
}
.swiper-ctrl-wrap{
    /* background-color: rgba(255, 255, 255, .9); */
    /* border-radius: 1.11111111vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 70%;
    z-index: 2;
    /* width: 10%; */
}
.swiper-ctrl-wrap img {
    width: 22px;
    margin: 0 6px;
    cursor: pointer;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto !important;
}
.swiper-pagination {
    position: initial !important;
}
.swiper-ctrl-wrap .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
    width: 13px;
    height: 13px;
    box-shadow: 0px 1px 2.8px rgba(0, 0, 0, 0.25);
    background: #C3C1C5;
    opacity:1;
}
.swiper-ctrl-wrap .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #292929;
}
.cases-wrap {
    margin-top: calc(120 / 1920 * 100vw);
}
.cases-wrap .advertising-content-wrap .content-title-wrap {
    color: #000;
}
.content-title-wrap br {
    display: none;
}
.seo {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.contact-us-wrap {
    margin-top: calc(189 / 1920 * 100vw);
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    /* padding: calc(80 / 1920* 100vw) 0; */
    padding-top: 100px;
    padding-bottom: calc(44 / 1920* 100vw);
}
.contact-us-wrap > img {
    display: none;
}
.contact-us-main {
    /* position: absolute; */
    display: flex;
    padding-top: calc(80 / 1920 * 100vw);
}
.contact-us-main .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-us-main .title h2 {
    font-size: calc(50 / 1920 * 100vw);
    color: #fff;
    font-weight: bold;
    margin-top: 32px;
}
.contact-us-main .title img {
    width: calc(408 / 1920 * 100vw);
}
.contact-us-main .form > p {
    font-size: calc(22 / 1920 * 100vw);
    color: #fff;
    font-weight: bold;
}
.contact-us-main .form > p a {
    color: #fff;
}
.contact-us-main .form section {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-top: calc(27 / 1920 * 100vw);
}
.contact-us-main .form section label {
    font-size: calc(20 / 1920 * 100vw);
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.contact-us-main .form section label:not(:first-child) {
    margin-top: 15px;   
}
.contact-us-main .form section input {
    border: none;
    border-bottom: 4.5px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: calc(20 / 1920 * 100vw);
    border-radius: 0;
    padding-top: 15px;
}
.contact-us-main .form {
    margin-left: calc(227 / 1920 * 100vw);
    width: calc(487 / 1920 * 100vw);
}
.contact-us-main .form section input:focus-visible,
.contact-us-main .form section textarea:focus-visible {
    outline: none;
}
.contact-us-main .form section textarea {
    resize: none;
    border-radius: 15px;
    border: 1px solid #D6D6D6;
    margin-top: calc(40 / 1920 * 100vw);
    font-size: calc(20 / 1920 * 100vw);
    padding: 10px;
    box-shadow: 0px 2px 3px 4px rgba(183, 207, 223, 0.25);
}
.contact-us-main .form section textarea::placeholder {
    color: #979797;
}
.contact-us-main .form .btn-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.contact-us-main .form .btn-wrap button {
    font-size: calc(20 / 1920 * 100vw);
    border-radius: 37px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 12px 35px;
    background-color: #2183C9;
    color: #fff;
    cursor: pointer;
}

/* color */
main section *.green {
    color: var(--subColor);
}
main section *.blue {
    color: var(--mainColor);
}

@media screen and (max-width: 768px) {
    .banner-wrap .banner-content-wrap {
        /* margin-top: calc(58 / 768* 100vw); */
        margin-bottom: calc(128 / 768* 100vw);
    }
    .banner-wrap .banner-content-wrap img {
        width: calc(408 / 768* 100vw);
    }
    .banner-wrap .banner-content-wrap h1 {
        font-size: calc(70 / 768* 100vw); 
        margin-top: calc(43 / 768* 100vw);
    }
    .banner-wrap .banner-content-wrap h2 {
        font-size: 20px;
        text-align: center;
        margin-top: calc(43 / 768* 100vw);
    }
    .banner-wrap .banner-content-wrap h2 span {
        display: none;
    }
    .banner-wrap .banner-content-wrap h2 br,
    .about-us-wrap .main .abou-us-content-wrap p br {
        display: block;
    }
    .about-us-wrap .title h2,
    .advertising-resources-wrap .title h2, 
    .cases-wrap .title h2 {
        font-size: 27px;
        /* font-size: calc(27 / 768 * 100vw); */
    }
    .about-us-wrap .title {
        margin-bottom: 16px;
    }
    .advertising-resources-wrap .title {
        margin-bottom: 24px;  
    }
    .cases-wrap .title {
        margin-bottom: 30px;
    }
    .about-us-wrap .title img {
        /* width: calc(196 / 768 * 100vw); */
        width: 196px;
    }
    .about-us-wrap .main {
        flex-direction: column;
    }
    .about-us-wrap .main .iframe-wrap {
        width: 100%;
        border-radius: 15px;
    }
    .about-us-wrap .main .abou-us-content-wrap {
        margin-left: 0;
        max-width: initial;
        margin-top: 21px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .about-us-wrap .main .abou-us-content-wrap h3 {
        /* font-size: calc(24 / 768* 100vw); */
        font-size: 24px;
        text-align: center;
    }
    .about-us-wrap .main .abou-us-content-wrap p {
        font-size: 16px;
        /* font-size: calc(16 / 768* 100vw); */
        /* line-height: 1.2; */
    }
    .about-us-wrap .main .abou-us-content-wrap > div:not(:last-child) {
        margin-bottom: calc(31 / 768* 100vw);
    }
    .about-us-wrap .main .abou-us-content-wrap > div {
        width: 85%;
        text-align: center;
    }
    .advertising-resources-wrap {
        margin-top: calc(128 / 768* 100vw);
    }
    #offline-advertising.advertising-resources-wrap,
    .cases-wrap {
        margin-top: calc(149 / 768* 100vw);
    }
    .swiper-slide > div {
        flex-direction: column;
    }
    .contact-us-main {
        flex-direction: column;
    }
    .about-us-wrap .title span, 
    .advertising-resources-wrap .title span,  
    .cases-wrap .title span {
        height: 3.5px;
    }
    .advertising-resources-main .advertising-content-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80% !important;
        margin-top: 24px;
        margin-left: 0;
    }
    .advertising-resources-main .advertising-content-wrap .content-title-wrap{
        /* font-size: calc(23 / 768* 100vw); */
        font-size: 21px;
        margin-bottom: 52px;
        /* margin-bottom: calc(39 / 768* 100vw); */
        text-align: center;
    }
    .advertising-resources-main .advertising-content-wrap .content-wrap {
        font-size: 16px;
        /* font-size: calc(13 / 768* 100vw); */
        text-align: center;
    }
    .content-title-wrap br {
        display: block;
    }
    .cases-wrap .advertising-content-wrap .content-title-wrap {
        font-size: 21px;
        /* font-size: calc(26 / 768* 100vw); */
        text-align: center;
        margin-bottom: 47px;
    }
    .cases-wrap .advertising-content-wrap .content-wrap {
        font-size: 16px;
        /* font-size: calc(13 / 768* 100vw); */
        text-align: center;
    }
    .swiper-ctrl-wrap {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 15px;
    }
    .advertising-resources-main, 
    .swiper-wrapper {
        margin-bottom: 15px;
    }
    .cases-wrap .advertising-content-wrap {
        width: 100%;
        margin-left: 0;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: auto;
    }
    .cases-wrap .cases-main {
        margin-bottom: 15px;
    }
    .contact-us-wrap > picture img {
        /* max-width: 768px; */
    }
    .contact-us-wrap {
        /* background: url(../images/contact-us-m-bg.png) no-repeat; */
        background: none;
        background-color: #00A623;
        padding: 55px 0 76px 0;
        position: relative;
    }
    .contact-us-wrap > img {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 12%;
    }
    .contact-us-main .title img {
        width: calc(408 / 768* 100vw);
    }
    .contact-us-main .form {
        margin-left: 0;
        margin-top: 53px;
        width: 80%;
        /* padding: calc(35 / 768* 100vw) calc(30 / 768* 100vw);
        background: rgba(255, 255, 255, 0.85);
        border-radius: 31px; */
    }
    .contact-us-main .title h2 {
        margin-top: 7px;
        font-size: calc(50 / 768* 100vw);
    }
    .contact-us-main {
        width: 100%;
        align-items: center;
    }
    .cases-wrap .img-wrap {
        width: 100%;
    }
    .contact-us-main .form > p {
        font-size: 19px;
        /* color: #8A8A8A; */
    }
    .contact-us-main .form section input {
        /* border: 1px solid #fff;
        border-radius: 38px;
        background-color: #fff;
        color: #8A8A8A; */
        font-size: 16px;
        /* padding: calc(20 / 768* 100vw); */
        /* box-shadow: 0px 2px 3px 4px rgba(183, 207, 223, 0.25); */
    }
    .contact-us-main .form .btn-wrap button {
        /* font-size: calc(18 / 768* 100vw); */
        font-size: 16px;
    }
    .contact-us-main .form section textarea {
        color: #8A8A8A;
        font-size: 16px;
        border: none;
        box-shadow: 0px 2px 3px 4px rgba(183, 207, 223, 0.25);
        margin-top: calc(26 / 768* 100vw);
    }
    .contact-us-main .form section label:not(:first-child) {
        margin-top: calc(47 / 768* 100vw);
    }
    .contact-us-main .form section label {
        font-size:16px;
        /* color: #8A8A8A; */
    }
    .contact-us-main .form section {
        margin-top: calc(25 / 768* 100vw);
    }
    .nav-wrap.fixed {
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #0078C8;
        transition: 0.3s ease;
    }
    .br-control {
        display: inline-block;
    }
}
@media only screen and (max-width: 400px) {
    body {
        overflow: scroll;
    }
}